.show {
    position: relative;
}


#card1 {
    background-image: url('https://pixabay.com/get/57e2d1454c5aab14f1dc846082293779133fd9e2524c704c732f79dc9648c45e/dessert-1246687_640.jpg')
}

#card2 {
    background-image: url('https://pixabay.com/get/57e1dd464c55ab14f1dc846082293779133fd9e2524c704c732f79dc9148c651/palm-1185677_640.jpg')
}

#card3 {
    background-image: url('https://pixabay.com/get/50e5dd44435ab10ff3d89938c62830781538d9e44e50744f752d73d29245cd/old-man-658798_640.jpg')
}



#card4 {
    background-image: url('https://pixabay.com/get/57e2d1454c5aab14f1dc846082293779133fd9e2524c704c732f79dc9648c45e/dessert-1246687_640.jpg')
}

#card5 {
    background-image: url('https://pixabay.com/get/57e1dd464c55ab14f1dc846082293779133fd9e2524c704c732f79dc9148c651/palm-1185677_640.jpg')
}

#card6 {
    background-image: url('https://pixabay.com/get/50e5dd44435ab10ff3d89938c62830781538d9e44e50744f752d73d29245cd/old-man-658798_640.jpg')
}




.blue {
    background-color: aqua;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}